<div class="home">
    <div class="maindiv" *ngIf="user.name">
     <h1>Welcome {{user.name}}!!!!</h1>
      <div >
          <div>
            <label class="logo">Name:</label>
     <label>{{user.name}}</label>
          </div>
          <div>
              <label  class="logo"> Surname:</label>
       <label>{{user.surname}}</label>
            </div>
            <div>
                <label  class="logo">email:</label>
         <label>{{user.email}}</label>
              </div>
      </div>
    
      <hr>
  
  </div>
  </div>
  