<div class="register">
  <div class="inputdiv">
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign up</p>
  
    <div class="form-row mb-4">
        <div class="col">
            <input type="text" formControlName="firstName" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" formControlName="lastName" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
        </div>
    </div>
  
    <input type="email" formControlName="email" id="emailInputs" class="form-control mb-4" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="E-mail">
    <div *ngIf="submitted && userForm.controls.email.errors || !userForm.controls.email.valid" class="invalid-feedback">
      <div *ngIf="userForm.controls.email.errors.required">must be in email format</div>
  </div>
    <input type="password" formControlName="password" id="passwordInputs" class="form-control mb-4" placeholder="password">
  
    <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
  
    <hr>
  
  </form>
</div>
</div>
